<div>
  <h1>Messages</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ToNumber</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.id %></td>
          <td><%= message.to_number %></td>
          <td><%= message.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
